@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* making Variable (storing color codes)*/
:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazone-major-color: #febd68;

}

/* body */
body {
    background-color: var(--minor-bg-color);
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;

}

.header .header-nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.header .header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-nav .header-container .amazon-logo {
    width: 140px;
}

.header .header-nav .header-container .header-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.header .header-nav .header-container .header-search .search-input {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.header .header-nav .header-container .header-search .search-button {
    width: 50px;
    height: 42px;
    background-color: var(--amazone-major-color);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #4d55f2;
}

.header .header-nav .header-container .header-cart {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .header-nav .header-container .header-cart svg {
    width: 40px;
    height: 40ox;
}

.section1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.section1 .section1-container{
    margin: 40px;

}
.section1 .section1-container h1{
    font-size: 30px;
    font-weight: bold;
    color: #121212;

}

/* section 2 */
.product-detail{
    width: 100%;
    height: 700px;
    
}
.product-detail .product-container{
    margin: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.product-detail .product-container .product-pictures{
    width: 50%;
}
.product-detail .product-container .product-pictures img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(50, 20, 50, 0.3);
}

.product-detail .product-container .product-detail-body{
    width: 50%;

}

.product-detail .product-container .product-detail-body .product-title{
    font-size: 25px;
    font-weight: 500;
    color: #121212;

}
.product-detail .product-container .product-detail-body .product-price{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;

}
.product-detail .product-container .product-detail-body .product-about{
    margin-top: 50px;
    color: #121212;

}
.product-detail .product-container .product-detail-body .product-about h4{
    font-size: 20px;
    font-weight: 500;
    color: #121212;

}

.product-detail .product-container .product-detail-body .buttons{
    margin-top: 30px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    margin-bottom: 50px;
} 
.product-detail .product-container .product-detail-body .buttons .buy-now{
    width: 50%;
    border: none;
    background-color: #ffa41c;
    color: white;
    padding: 8px;
    border-radius: 10px;

}
.product-detail .product-container .product-detail-body .buttons .add-to-cart{
    width: 50%;
    border: 2px solid #ffa41c;
    border-radius: 10px;
    padding: 8px;
    color: #ffa41c;

}
.product-detail .product-container .product-detail-body .product-about ul{
    padding-left: 40px;
}
